@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


@theme {
    --font-poppins: "Poppins", sans-serif;
}




.latest-p {
    animation: latest 25s linear infinite;
    display: inline-block;
}

.latest-p:hover {
    animation-play-state: paused;
}
@keyframes latest {
    0%   { transform: translateX(100vw); }
    100% { transform: translateX(-100%); }
}
a.active{
    color: black;
    background-color: #e7e7e7;
}